{% extends "yous/layout_2_col.html" %}
{% load i18n %}
{% load staticfiles %}

{% block navigation %}
{% include "yous/tina/partials/nav_primary.html" %}
{% endblock %}


{% block column_left %}
<div class="container-fluid image">
  <div class="row">
<a href="{% url 'catalogue:index' %}">
  <img src="{% static "yous/image/riz_parfume.jpg" %}" alt=" Comores En Ligne">
</a>
  </div>
</div>
{% endblock %}


{% block content %}

<h1> Bientôt disponibles</h1>

<h3>Nous avons déjà les autorisations administratives pour nos services</h3>
<h3>Les contrats avec nos partenaires sont en cours de négociations pour vous proposer un service de qualité</h3>


{% endblock content %}
