{% extends "yous/layout_2_col.html" %}
{% load i18n %}
{% load staticfiles %}

{% block navigation %}
{% include "yous/tina/partials/nav_primary.html" %}
{% endblock %}


{% block column_left %}
<a href="{{ homepage_url }}">

  <img src="{% static "yous/image/logo_comores_en_ligne.png" %}" alt=" Comores En Ligne">
</a>
<a href="{% url 'catalogue:index' %}">
  <img src="{% static "yous/image/riz_parfume.jpg" %}" alt=" Comores En Ligne">
</a>
{% endblock %}


{% block content %}

<h1> Bientôt disponibles</h1>
<h3>Nous avons déjà les autorisations administratives pour nos services</h3>
<h3>Nous attendons la mise en place d'un partenariat avec nos partenaires pour un service de qualité</h3>


{% endblock content %}
